/*reset
remise à zéro 
enlever tout le css par défaut des balises html 
marge / gras / soulignement / couleur bleu / empattement */

body{
    /* enlèver tous les empattements de toutes les textes h1 h2 p li*/
    font-family: sans-serif; 
}
body, h1, h2, h3, p , ul, li {
    /*enlever toutes les espaces internes externes de toutes les principales balises */
    margin: 0;
    padding: 0;
}
ul, li{
    /*enlever les puces devant les éléments d'une liste */ 
    list-style: none;
}
a{
    text-decoration: none;
    color : black; 
}

/* mise en forme de l'entête du site : menu et le nom de la société */

/*je veux mettre h1 et la nav l'un à côté de l'autre 
=> display flex SUR LA BALISE qui est le parent direct de h1 et nav => div class="wrapper"
=> je me rends compte QUE le designeur à utiliser plusieurs FOIS class="wrapper" dans le design 
MAIS je veux appliquer display flex QUE sur cette div 
DONC je vais devoir utiliser un selecteur PLUS restrictif 
je veux sélectioner la balise ayant la class wrapper QUI est dans la balise header
*/

header .wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/* je veux mettre les li l'un à côté de l'autre display flex sur le parent direct ul */
header ul{
    display: flex;
}

/* décoller la balise header de la fenêtre du navigateur 
ajouter 20 px en haut et en bas de la balise de marge interne
0 à gauche et à droite */
header{
    padding: 20px 0 20px 0 ; 
}
/* styliser les tailles de police ET espacement */
header h1{
    font-size: 1.3rem;
    margin-right: 200px;
}

header li{
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-left: 20px;
}

/* partie hero  */

/* ajouter une image COMME image de fond d'une balise html SUR la balise section qui a l'id main_image */

#main_image{
    background: url("img/main.jpg"); /* sélectionner l'image à utiliser comme fond (background) */
    background-size: contain; /*prend la hauteur de 350px  */
    background-repeat:no-repeat; /* pas de répétition */
    background-position: center center; /* centrer dans la zone */
    height: 350px;

    /* je veux centrer le wrapper qui contient le h2 et le a horizontalement et verticalement dans la zone ayant le fond display flex */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main_image h2{
    font-size: 2.2rem;
    font-weight: normal;
    text-transform: uppercase;
}
#main_image a{ /* la balise a est une balise en ligne qui n'accepte par la règle margin  */
    background: orange;
    padding: 10px 15px;
    display: inline-block;/*cette règle permet que la règle margin-top s'applique */
    margin-top: 10px;
    border-radius: 10px;
    color:white; 
}
#main_image a:hover{
    background: red;
    transform: scale(1.2); /* https://caniuse.com/ */
}


/* partie centrale */

#steps .wrapper{
    display: flex;
    justify-content: center;
    
}

#steps ul{
    width: 50%;
    display: flex;
    justify-content: space-between; /* je veux que les éléments soient l'un à côté de l'autre même largeur ET qu'il y ait un espace identique entre chaque élément */
    text-align: center;
}

#steps h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#steps h4::before{
    content: "" ;
    height: 40px;
    width: 40px;
    display: block;
    background : url("img/steps-icon-1.png");
    background-size: cover;
    margin-bottom: 15px;
}

#steps #step2 h4::before{
    background : url("img/steps-icon-2.png");
    background-size: cover;
}

#steps #step3 h4::before{
    background : url("img/steps-icon-3.png");
    background-size: cover;
}

/**/

#possibilites{
    margin:20px 0 20px 0;
    display: flex;
    justify-content: center;
}
#possibilites .wrapper{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#possibilites article{
    border-radius: 10px;
    height: 200px;
    background-size: cover;
}
#possibilites article:first-child{
    margin-right: 20px;
}
#possibilites .overlay{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(255,255,255,0.6);
    padding: 30px 10px;
    color:#333;
    text-align:center;
    border-radius: 10px;
}
#possibilites h4{
   margin: 0;
   font-size: 1.4rem;
   border-bottom: 1px solid black;
   margin-bottom: 7px;
}

#possibilites a{ /* la balise a est une balise en ligne qui n'accepte par la règle margin  */
    background: orange;
    padding: 10px 15px;
    display: inline-block;/*cette règle permet que la règle margin-top s'applique */
    margin-top: 10px;
    border-radius: 10px;
    color:white; 
    font-size: 0.8rem;
}
#possibilites a:hover{
    background: red;
    transform: scale(1.2); /* https://caniuse.com/ */
}
